<div class="container">
  <%= render "public/shared/error_messages", resource: @contact %>
  <div class="row">
    <div class="col-md-3" style="text-align: center;">
      <h2>Inquiry</h2>
    </div>
    <div class="col-md-6", style="margin-top: 50px; text-align: center;">
      <div>
        <%= form_with model: @contact, url: public_contacts_path, local: true do |f| %>
        <div>
          <p class="required">お名前</p>
          <%= f.text_field :name, placeholder: "お名前 ※ニックネームでも可*50文字以内", size: "40x5" %>
        </div>
        <div class="m-3">
          <p class="required">お問合せ内容</p>
          <%= f.text_area :content, placeholder: "お問合せ内容を入力してください*400文字以内", size: "50x5" %>
        </div>
        <div>
          <div class="mt-3">
            <%= f.button type: "submit", class: "btn btn-success", style: 'border-style: none;' do %>
              送信 <i class="fas fa-paper-plane"></i>
            <% end %>
          </div>
          <div class="mt-5">
            <%= link_to "もどる", root_path, class: "btn btn-primary" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>