<div id="map"></div>
<style>
#map{
  height: 500px;
  width: auto;
}
</style>

<script>
function initMap(){
  // latlngで緯度経度を定義
  let latlng = {lat: 35.6761919, lng:139.6503106}
  let map = new google.maps.Map(document.getElementById('map'), {
    center: latlng,
    zoom: 15
  });
  let markers = new Array();
  <% @posts.each_with_index do |post, index| %>
    markers[<%= index %>] = new google.maps.Marker({
                       position: {lat: <%= post.latitude %>, lng: <%= post.longitude %>},
                       map: map
                     });
    markerInfo(markers[<%= index %>], "<%= sanitize(simple_format(post.introduction).gsub(/[\r\n]/,""), tags: %w(br p)) %>");
  <% end %>
}

function markerInfo(marker, name) {
    google.maps.event.addListener(marker, 'click', function (event) {
        new google.maps.InfoWindow({
            content: name
        }).open(marker.getMap(), marker);
    });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap" async defer></script>