<!--部分テンプレートで使うようにする-->
<div class="container">
  <%= form_with model: @post, url: public_posts_path do |f| %>
  <div class="row">
    <div class="col-md-3" style="margin-top: 50px; text-align: center;">
      <h2>猫を投稿</h2>
    </div>
    <div class="col-md-8" style="margin-top: 50px;">
      <table class="table">
        <div class="field">
          <tr>
            <th><%= f.label :猫の画像 %></th>
            <th>
                <%= f.file_field :image %>
            </th>
          </tr>
          <tr>
            <th>
              <%= f.label :タイトル %>
            </th>
            <td>
              <%= f.text_field :title %>
            </td>
          </tr>
        </div>
        <div class="field">
          <tr>
            <th>
              <%= f.label :内容 %>
            </th>
            <td>
              <%= f.text_area :introduction %>
            </td>
            <td></td>
          </tr>
          <tr>
          <th><%= f.label :ジャンル %></th>
          <td>
            <!--ジャンルから持ってきてジャンルを選択する-->
            <%= f.collection_select(:genre_id, Genre.all, :id, :genre, prompt: "--選択してください--")  %>
          </td>
        </tr>
        </div>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="text-align: center;">
      <%= f.submit "投稿" %>
      <% end %>
    </div>
  </div>
</div>