<h1>JSONで実装できなかった時に投稿詳細を見るページ</h1>
<div class="container">
  <div class="row">
    <div class="col-md-3" style="margin-top: 50px; text-align: center;">
      <h2>投稿詳細</h2>
    </div>
    <div class="col-md-6" style="margin-top: 50px; text-align: center;">
      <table class="table table-inverse">
        <th>画像</th>
          <td>
            <%= image_tag @post.image.variant(resize:'200x200') %>
          </td>
        </tr>
        <th>タイトル</th>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <th>内容</th>
          <td><%= @post.introduction %></td>
        </tr>
      </table>
    </div>
    <div class="col-md-3" style="margin-top: 50px; text-align: center;">
      登録情報
      <br>
      <%= link_to "編集",edit_public_post_path,class: 'btn btn-success' %>
      <br>
      <%= link_to '削除', public_post_path(@post.id), method: :delete, data: { confirm: '本当に消しますか？', class: 'btn-sm btn-danger' }, class: "btn btn-sm btn-danger"%>
    </div>
  </div>
</div>
