<!--コメント部分テンプレート-->
<table>
  <div>
<% post.comment.each do |comment| %>
  <tr>
    <td><%= link_to(post.user) do %>
        <%= image_tag comment.user.get_image, size:"100x100" %><br>
        <%= comment.user.name %></td>
    <td><%= comment.comment %></td>
  <% end %>
      </td>
  <% if post.user == current_user %>
    <td ><%= link_to "Destroy", public_post_comment_path(comment.post_id, comment.id), method: :delete, class: "btn btn-sm btn-danger", remote: true %></td>
  <% end %>
  <% end %>
  </td>
  </div>
</table>
<div class="form-group">
  <!--local: trueをfalseに変更-->
<%= form_with model: [post, comment],local: false do |f| %>
<%= f.text_area :comment, rows: '5', placeholder: "" %><br>
<%= f.submit "送信する" %>
<% end %>
</div>