<!--コメント機能-->
  <!--publicを記入してネストしている変数をとる-->
  <%= form_with model: [:public,@post,@comment] do |f| %>
    <%= f.text_area :comment, rows: '5',size: "40x5" %>
    <%= f.submit '送信', class: "btn-sm btn-primary" %>
  <% end %>

<table>
  <thead>
    <tr>
      <!--投稿者の画像も入れるようにする-->
      <th>コメント投稿者</th>
      <th>コメント内容</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <!--コメント投稿者の名前をとってきたい-->
        <td><%= comment.user.name %></td>
        <td><%= comment.comment %></td>
        <td><%= link_to "削除", public_post_comment_path(@post, comment), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
