<div class="container">
  <div class="row">
    <div class="col-md-3" style="text-align: center;">
      <h2>投稿一覧</h2>
      <%= link_to "自分の投稿一覧へ",public_posts_my_index_path %>
      <%= render "public/posts/genre_post", genres: @genres %>
    </div>
    <div class="col-md-8" style="text-align: center; margin-top: 50px;">
      <table class='table'>
        <thead>
          <tr>
            <th>画像</th>
            <th>タイトル</th>
            <th>説明</th>
            <th>ジャンル</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
          <tr>
            <td><%= image_tag post.image,:size =>'150x100' %></td>
            <td><%= link_to post.title, public_post_path(post) %></td>
            <td><%= post.introduction %></td>
            <td><%= post.genre.genre %></td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
