<div class="container mt-3">
  <h2>MAP</h2>
  <p>みんながみた猫の位置が表示されます。ピンをクリックすると投稿内容が表示されます。</p>
</div>
<div id="map"></div>


<style>
#map{
  height: 500px;
  width: auto;
}
</style>

<script>
function initMap(){
  // latlngで緯度経度を定義
  let latlng = {lat: 35.6761919, lng:139.6503106}
  let map = new google.maps.Map(document.getElementById('map'), {
    center: latlng,
    zoom: 10
  });
  let markers = new Array();
  // eachでpostを回してあげる
  <% @posts.each_with_index do |post, index| %>
  // マーカーのための記述
    markers[<%= index %>] = new google.maps.Marker({
                      // 場所を緯度経度にしてあげる
                       position: {lat: <%= post.latitude %>, lng: <%= post.longitude %>},
                       map: map
                     });
    // マーカーの吹き出しのための記述
    markerInfo(markers[<%= index %>],
    // 文章構成のための記述
    // 投稿の詳細を載せる
    '<div><%= image_tag post.image, :size =>'300x200' %></div><div class="mt-1"><%= link_to post.title, admin_post_path(post) %></div><div class="mt-1"  style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 300px;"><%= post.introduction.gsub(/[\r\n]/,"") %></div><div class="mt-1"><%= post.genre.genre %></div>');
  <% end %>
}

function markerInfo(marker, name) {
    google.maps.event.addListener(marker, 'click', function (event) {
        new google.maps.InfoWindow({
            content: name
        }).open(marker.getMap(), marker);
    });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap" async defer></script>
