<div class="container">
  <div class="row">
    <div class="col-md-3" style="margin-top: 50px; text-align: center;">
      <h2>投稿詳細</h2>
    </div>
    <div class="col-md-6" style="margin-top: 50px; text-align: center;">
      <div id="map"></div>
      <table class="table table-inverse">
        <th>画像</th>
          <td>
            <%= image_tag @post.image,:size =>'300x200' %>
          </td>
        </tr>
        <th>タイトル</th>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <th>内容</th>
          <td><%= @post.introduction %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @post.genre.genre %></td>
        </tr>
      </table>
    </div>
    <div class="col-md-3" style="margin-top: 50px; text-align: center;">
      登録情報
      <br>
      <%= link_to '削除', admin_post_path(@post.id), method: :delete, data: { confirm: '本当に消しますか？', class: 'btn-sm btn-danger' }, class: "btn btn-sm btn-danger"%>
    </div>

    <div class="col-md-12" style="margin-top: 50px; text-align: center;">
    <table class="table table-inverse">
    <thead>
      <tr>
        <th>コメント投稿者</th>
        <th>コメント内容</th>
        <th>コメント日</th>
      </tr>
    </thead>
    <tbody>
    <% if @post.comments.present? %>
      <p>コメント件数：<%= @post.comments.count %></p>
      <% @post.comments.each do |comment| %>
      <tr>
        <td><%= comment.user.name %></td>
        <td><%= comment.comment %></td>
        <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= link_to "削除", public_post_comment_path(@post, comment), method: :delete, remote: true, class: "btn btn-sm btn-danger" %></td>
      <% end %>
    <% else %>
      <p>コメントはまだありません</p>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>



<style>
#map{
  height: 250px;
  width: auto;
}
</style>

<script>
function initMap(){
  // latlngで緯度経度を定義
  let latlng = {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>}
  let map = new google.maps.Map(document.getElementById('map'), {
    center: latlng,
    zoom: 15
  });
  let marker = new google.maps.Marker({
                     position: latlng,
                     map: map
                   });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap" async defer></script>