<div class="container">
  <div class="row">
    <div class="col-md-3 mt-5" style="text-align: center;">
      <h2>User Details</h2>
    </div>
    <div class="col-md-6" style="margin-top: 70px;">
      <ul class="line">
        <li class="title">プロフィールアイコン</li>
        <li class="content"><%= image_tag @user.get_image,class: "rounded-circle", size: "150x150" %></li>
      </ul>
      <ul class="line">
        <li class="title">ユーザーID</li>
        <li class="content"><%= @user.id %></li>
      </ul>
      <ul class="line">
        <li class="title">ニックネーム</li>
        <li class="content"><%= @user.name %></li>
      </ul>
      <ul class="line">
        <li class="title">メールアドレス</li>
        <li class="content"><%= @user.email %></li>
      </ul>
      <ul class="line">
        <li class="title">登録日</li>
        <li class="content"><%= l @user.created_at, format: :short %></li>
      </ul>
      <ul class="line">
        <li class="title">ユーザーステータス</li>
        <!--ステータスの記述を行う。-->
        <li class="content"><%= user_status(@user) %></li>
      </ul>
      <div style="text-align: center; margin-top: 50px;">
        <p><%= link_to "編集", edit_admin_user_path(@user), class: 'btn btn-success' %></p><br>
        <p><%= link_to "ユーザー一覧", admin_users_path, class: 'btn btn-primary' %></p>
      </div>
    </div>
  </div>
</div>