<!-- footerの部分テンプレート -->
<footer class="fixed-bottom" style="background-color: #FF9999";>
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="text-align: center; line-height: 100px;">
        <!--<p> CopyRight Stray Cat's MAP.inc</p>-->
        <!-- ユーザーがログインしている＆会員の場合に表示 -->
        <% if user_signed_in? %>
        <%= link_to "野良猫の接し方", nora_path %>
        <%= link_to "迷い猫の保護の仕方", hogo_path %>
        <!-- ユーザーがログインしているかつ管理者の場合に表示 -->
        <% elsif admin_signed_in? %>
          <p>管理者ログイン中</p>
        <!-- 未ログインの場合に表示 -->
        <% else %>
          <%= link_to "野良猫の接し方", nora_path %>
          <%= link_to "迷い猫の保護の仕方", hogo_path %>
          <%= link_to "管理者入口", new_admin_session_path %>
        <% end %>

      </div>
    </div>
  </div>
</footer>