<!-- footerの部分テンプレート -->
<footer class="footer fixed-bottom" style="background-color: #ffffc6;">
  <div class="container p-2">
    <div class="row">
      <div class="col-lg-3">
        <h4 style="font-family: Caveat;">Link</h6>
        <!-- ユーザーがログインしている＆会員の場合に表示 -->
        <ul class="p-0 list-unstyled">
        <% if user_signed_in? %>
        <li><%= link_to "野良猫の接し方", nora_path %></li>
        <li><%= link_to "迷い猫の保護の仕方", hogo_path %></li>
        <!-- ユーザーがログインしているかつ管理者の場合に表示 -->
        <% elsif admin_signed_in? %>
          <li>管理者ログイン中</li>
        <!-- 未ログインの場合に表示 -->
        <% else %>
          <li><%= link_to "野良猫の接し方", nora_path %></li>
          <li><%= link_to "迷い猫の保護の仕方", hogo_path %></li>
          <li><%= link_to "管理者入口", new_admin_session_path %></li>
        <% end %>
        </ul>
      </div>
      <div class="col-md-8" style="text-align: center; padding-top: 50px;">
        <h4 style="font-family: Caveat;"> CopyRight Stray Cat's MAP.inc</h4>
      </div>
    </div>
  </div>
</footer>
