<!-- headerの部分テンプレート -->
<header>
  <!-- ナビゲーションバーのレイアウト -->
  <nav class ="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #d6c6af;">
    <div class="container-fluid">
      <!-- 店名ロゴの表示-->
      <a class="navbar-brand" href="/" style="font-family: Caveat;">
        <span><i class="fa-solid fa-paw"style="margin-right: 5px;"></i>Stray Cat's MAP<i class="fa-solid fa-paw"style="margin-left: 5px;"></i></span><br>
        <span class="ttl_read">この世界にはたくさんの猫たちがいます。さぁ一緒に探しに行きませんか？</span>
      </a>
      <div class="ml-5"><%= render "public/searches/search" %></div>
      <!-- ナビゲーション要素の追加 -->
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDrapdown"
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <!-- ユーザーがログインしている＆会員の場合に表示 -->
          <% if user_signed_in? %>
            <li>
              <!--現在ログインしているユーザーのマイページ。-->
              <%= link_to public_show_path, class: 'nav-link text-dark' do %>
                <i class="fa-regular fa-user"></i>
                  My Page
              <% end %>
            </li>
            <li>
              <%= link_to  public_posts_map_path, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-map-location-dot"></i>
                  MAP
              <% end %>
            </li>
            <li>
              <!--postのページだけturbolinksを切る-->
              <%= link_to  new_post_path, class: 'nav-link text-dark',data: {"turbolinks"=>false} do %>
                <i class="fa-solid fa-paper-plane"></i>
                  Post
              <% end %>
            </li>
            <li>
              <%= link_to posts_path, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-cat"></i>
                  Cat's
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark', id: 'logout_link' do %>
                <i class="fas fa-sign-out-alt"></i>
                  Log out
              <% end %>
            </li>
            <!-- ユーザーがログインしているかつ管理者の場合に表示 -->
          <% elsif admin_signed_in? %>
            <li>
              <%= link_to admin_users_path, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-users"></i>
                  User's
              <% end %>
            </li>
            <li>
              <%= link_to admin_posts_map_path, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-map-location-dot"></i>
                  MAP
              <% end %>
            </li>
            <li>
              <%= link_to admin_genres_path, class: 'nav-link text-dark' do %>
              <i class="fa-solid fa-tags"></i>
                  Genre's
              <% end %>
            </li>
            <li>
              <%= link_to admin_posts_path, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-cat"></i>
                  Cat's
              <% end %>
            </li>
            <li>
              <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-right-from-bracket"></i>
                  Log out
              <% end %>
            </li>
          <!-- 未ログインの場合に表示 -->
          <% else %>
            <li>
              <%= link_to about_path, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-fish"></i>
                  About
              <% end %>
            </li>
            <li>
              <%= link_to public_posts_map_path, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-map-location-dot" style="margin-right: 5px;"></i>
                  MAP
              <% end %>
            </li>
            <li>
              <%= link_to posts_path, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-cat"></i>
                  Cat's
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-right-to-bracket" style="margin-right: 5px;"></i>
                  Log in
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-house-chimney" style="margin-right: 5px;"></i>
                  Sign up
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <!--フラッシュメッセージ用-->
  <% if notice || alert %>
    <div class="alert alert-secondary">
      <div class="container">
        <%= notice %>
        <%= alert %>
        <button type="button" class="close"
      data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  <% end %>
</header>